{% extends 'base.html.twig' %}
{% block body %}


	<div class="grix xs2 sm3 gutter-0 card">
		<div class="col-xs2 col-sm3">
			<h2>Liste des commentaires</h2>

			{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}
			) }}
			<table>
				<tr>
					<td>{{ form_label(form.description,"Ajouter un commentaire ") }}</td>

				</tr>
				<tr>

					<td>{{form_widget(form.description)}}</td>
					<td>{{form_errors(form.description)}}</td>

				</tr>
			</table>

			{{ form_end(form) }}
		</div>

	{% endblock %}
