{% extends 'base.html.twig' %}

{% block title %}Sana3ty{% endblock %}
{% block body %}
<!-- Breadcrumb Start -->
	<div class="container-fluid">
		<div class="row px-xl-5">
			<div class="col-12">
				<nav class="breadcrumb bg-light mb-30">
					<a class="breadcrumb-item text-dark" href="#">User</a>
					<a class="breadcrumb-item text-dark" href="#">Add</a>
    				</nav>
			</div>
		</div>
	</div>
      <div class="container-fluid mb-3">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#header-carousel" data-slide-to="1"></li>
                        <li data-target="#header-carousel" data-slide-to="2"></li>

                    </ol>

                   </div>
                                {{form_start(FormCategory,{'attr':{'class':'form-horizontal'}})}}      
                                <table>
                                <tr>
                                <td>{{form_label(FormCategory.name,"nom")}} </td>
                                <td>{{form_widget(FormCategory.name)}} </td>
                                <td>{{form_errors(FormCategory.name)}} </td>
                                </tr>
                                <tr>
                                <td>{{form_label(FormCategory.description,"description")}} </td>
                                <td>{{form_widget(FormCategory.description)}} </td>
                                <td>{{form_errors(FormCategory.description)}} </td>
                                </tr>
                                </table>
                                {{form_widget(FormCategory.add)}}
                                {{form_end(FormCategory)}}

    </div>
{% endblock %}
